* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Asap';
  background-color: #333230;
  color: #FFFEFD;

  h1 {
    color: #FF0104;
  }

  p {
    font-size: 27px;
    color: #00FFAF;
  }
}