section.repository-list {
  margin: 40px;

  h1 {
    margin-bottom: 16px;
  }

  ul {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;

    li {
      padding: 16px;
      border-radius: 8px;
      background-color: #FAFAFA;

      p {
        font-size: 14px;
        color: #172330;
        margin-top: 8px;
      }

      a {
        display: inline-block;
        margin-top: 16px;
        text-decoration: none;
        color: #36A389;
      }
    }
  }
}